<!doctype html>
<html ng-app>
  <head>
  <title>WeMo Bridge - Unrelated Labs</title>
  <meta name='viewport' content="width=device-width">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-resource.min.js"></script>
    <script src="wemo.js"></script>
    <style type="text/css">
    button{
    	background: black;
    	color:white;
    	padding:14px;
    	border: 0px;
		width: 240px;
		margin:5px;
    }
    .colorSample{
    	width: 20px;
    	height: 20px;
    	display:  inline-block;;
    }
    </style>
  </head>
  <body>
    <div ng-controller="wemo">
	<div ng-repeat='device in devices'>
	<input ng-model='device.isOn' type="checkbox" ng-click='switch(device.serialNumber,!device.isOn)'/>
	<button ng-click='toggle(device.serialNumber)'>{{device.name}} </button>
	<a href="#" class='colorSample' ng-click="setColor(device.serialNumber,'0xF4A460')" style="background-color: #F4A460"></a>
	<a href="#" class='colorSample' ng-click="setColor(device.serialNumber,'0xFFFFFF')" style="background-color: #FFFFFF"></a>
	<a href="#" class='colorSample' ng-click="setColor(device.serialNumber,'0xF5F5DC')" style="background-color: #F5F5DC"></a>
	<a href="#" class='colorSample' ng-click="setColor(device.serialNumber,'0xFFFAF0')" style="background-color: #FFFAF0"></a>
	
	</div>    
    
    </div>
   
  </body>
</html>